<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="GetFiles" value="D:\IPT Assignment#2\NewFiles"/>
		<add key ="DestinationFolder" value="D:\IPT Assignment#2\JsonFiles\"/>
	</appSettings>
</configuration>