<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SourceFolder" value="D:\IPT Assignment#2\Files"/>
		<add key="DestinationFolder" value="D:\IPT Assignment#2\NewFiles"/>
	</appSettings>
</configuration>