<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="FileName" value="D:\\IPT Assignment#2\\IPT_ASSIGNMENT_Q1\\IPT_ASSIGNMENT\\Program.exe" />
		<add key="Url" value="&quot;https://www.psx.com.pk/market-summary&quot;" />
		<add key="DestinationFileLocation" value="&quot;D:\\IPT Assignment#2\\Files&quot;" />
	</appSettings>
</configuration>